:root {
  --pri-text-color: #8b8b8b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: #c5d1cf;
}

.container {
  background-color: #fff;
  border-radius: .5rem;
  margin: 2rem;
}

.container form {
  display: flex;
  margin: 1rem;
  padding: 1rem;
}

.container form .input-containers {
  display: flex;
  flex-direction: column;
}

.input-containers label {
  font-weight: bold;
  color: var(--pri-text-color) ;
  letter-spacing: 3px;
  margin-bottom: 0.5rem;
}

.input-containers input {
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: .5rem;
  border: 1px solid #ddd;
}

form input:focus {
  outline: none;
}

form button {
  background-color: transparent;
  font-size: 3rem;
  border: none;
  color: #b753f1;
  cursor: pointer;
  transition: all .5s;
}

form button:hover {
  transform: translateY(5px);
}

form button:active {
  filter: grayscale(20%);
  opacity: .7;
}